<div class="container">
<div class="row">
<div class="col-md-4">
<h1 class="text-profile mt-3">New Profile</h1>

<%= render 'form', profile: @profile, user_type: @user_type %>

<%= link_to 'Back', profiles_path, class: "btn btn-devise mt-2"%>
</div>
</div>
</div>