<header>
    <div class="container-fluid landing-img d-flex align-items-center justify-content-center">
        <div class="text-center frontpage-text">
            <h1 class="display-2 mb-0">Home Point</h1>
            <h2 class="display-4 mb-0">A world of drone photograps</h2>
            <h2 class="display-4 mb-0">Sell and share your shots</h2>
        </div>
    </div>
</header>
<section>
    <div class="container content">
        <div class="row">
        <div class="col-6">
            <h3>HomePoint</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque iste nam, perferendis in exercitationem non doloribus eveniet corrupti, soluta quod accusamus possimus nulla sequi, magnam dicta alias numquam at!</p>
        </div>
        <div class="col-6">
            <h3>HomePoint</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo itaque iste nam, perferendis in exercitationem non doloribus eveniet corrupti, soluta quod accusamus possimus nulla sequi, magnam dicta alias numquam at!</p>
        </div>
        </div>
    </div>
</section>
