// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.img-card {
  height: 15vw;
}

.card-body p {
  margin-bottom: 0;
}

.btn {
  margin-top: 5px;
}
