// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.frontpage-text {
  color: #fff;
  margin-top: 0;
}

.landing-img {
  // background: url("https://images.pexels.com/photos/4183522/pexels-photo-4183522.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background: url("https://images.pexels.com/photos/2876511/pexels-photo-2876511.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.headline-box {
  // background-color: #fafafa;
  background-color: #39796b;
  h3 {
    color: #fff;
  }
}

.content {
  margin-top: 40px;
}

// Categories

.headline-2 {
  color: #004d40;
}

.card-img {
  height: 40vh;
}

.card-img-overlay {
  color: #fff;
}

// #bottom page

.landingpage-row {
  background-color: #fafafa;
  .about-text {
    color: #004d40;
    margin-left: 40px;
  }
  .btn {
    background-color: #39796b;
    color: #fff;
  }
}
.landingpage-row-img {
  width: 90%;
}
