// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.listing-row {
  background-color: #fafafae7;
  .btn-green {
    background-color: #39796b;
    color: #fff;
  }
}

.img-listing {
  max-height: 500px;
  width: 90%;
}

.listing-title {
  color: #004d40;
}

.listing-description {
  color: #004d40;
}
