// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.text-profile {
  color: #004d40;
}

// Buttons
.btn-profile {
  background-color: #39796b;
  color: #fff;
  margin-top: 3px;
  margin-bottom: 3px;
}
